aiohttp==3.8.5
aiosignal==1.3.1
anthropic==0.3.11
anyio==3.7.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
backports-datetime-fromisoformat==2.0.0
boto3==1.28.40
botocore==1.31.40
build==0.10.0
CacheControl==0.13.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cleo==2.0.1
click==8.1.7
cloudpickle==2.2.1
cohere==4.21
contextlib2==21.6.0
courlan==0.9.3
crashtest==0.4.1
cryptography==41.0.3
dateparser==1.1.8
dill==0.3.7
distlib==0.3.7
distro==1.8.0
dnspython==2.4.2
docker==6.1.3
dulwich==0.21.6
exceptiongroup==1.1.3
fastapi==0.103.1
fastavro==1.8.2
filelock==3.12.3
frozenlist==1.4.0
fsspec==2023.9.0
google-pasta==0.2.0
graphlib==0.9.5
greenlet==2.0.2
griptape
h11==0.14.0
htmldate==1.5.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
jsonschema-specifications==2023.7.1
jusText==3.0.0
keyring==24.2.0
langcodes==3.3.0
loguru==0.7.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marqo==1.2.4
marshmallow==3.20.1
marshmallow-enum==1.5.1
mdurl==0.1.2
more-itertools==10.1.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
numpy==1.25.2
openai==0.28.0
opensearch-py==2.3.1
oscrypto==1.3.0
packaging==23.1
pandas==2.1.0
pathos==0.3.1
pexpect==4.8.0
pinecone-client==2.2.2
pkginfo==1.9.6
platformdirs==3.8.1
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
pox==0.3.3
ppft==1.7.6.7
protobuf==4.24.2
ptyprocess==0.7.0
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.12
Pygments==2.16.1
PyJWT==2.8.0
pymongo==4.5.0
pyOpenSSL==23.2.0
PyPDF2==3.0.1
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
rapidfuzz==2.15.1
redis==4.6.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-aws4auth==1.2.3
requests-toolbelt==1.0.0
rich==13.5.2
rpds-py==0.10.2
s3transfer==0.6.2
safetensors==0.3.3
sagemaker==2.182.0
schema==0.7.5
SecretStorage==3.3.3
shellingham==1.5.3
six==1.16.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.0
snowflake-connector-python==3.1.1
snowflake-sqlalchemy==1.5.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.49
sqlalchemy-redshift==0.8.14
starlette==0.27.0
stopit==1.1.2
stringcase==1.2.0
tblib==1.7.0
tenacity==8.2.3
tiktoken==0.4.0
tld==0.13
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.12.1
tqdm==4.66.1
trafilatura==1.6.1
transformers==4.32.1
trove-classifiers==2023.8.7
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16
uvicorn==0.23.2
virtualenv==20.24.4
websocket-client==1.6.2
yarl==1.9.2
zipp==3.16.2